.App {
    font-family: sans-serif;
    text-align: center;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 80vh;
  }
  
  .input {
    max-width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #999;
    text-align: center;
  }
  